<!DOCTYPE html>
<html>
<head>
  <title>Spatial SQL</title>

  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.3/css/bulma.min.css">
</head>
<body>
{{{body}}}
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.8/ace.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.8/mode-pgsql.js"></script>
<script type="text/javascript" src="bundle.js"></script>
</body>
</html>
