<div id="map" class="map"></div>
<section class="section" id="query_area">
  <div class="columns">
    <div class="column is-10">
      <div id="aceeditor"></div>
    </div>
    <div class="column is-2">
      <button class="button" type="submit" onclick="yasmin(); return false;">
        Submit Query
      </button>
    </div>
  </div>
</section>
