
html, body {
  height: 100%;
}

.map {
  height: 50%;
}

section {
  height: 50%;

  div {
    height: 100%;
    width: 100%;
  }
}

#query_area {
  height: 50%;

  form, div {
    height: 100%;
  }
}

#editor {
  height: 100%;
}